PersonDAO.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://ws.apache.org/axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="insertPerson">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="person" nillable="true" type="ax22:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPersons">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPersonsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonsID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonsIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllPersonsRequest">
        <wsdl:part name="parameters" element="ns:getAllPersons"/>
    </wsdl:message>
    <wsdl:message name="getAllPersonsResponse">
        <wsdl:part name="parameters" element="ns:getAllPersonsResponse"/>
    </wsdl:message>
    <wsdl:message name="getPersonsIDRequest">
        <wsdl:part name="parameters" element="ns:getPersonsID"/>
    </wsdl:message>
    <wsdl:message name="getPersonsIDResponse">
        <wsdl:part name="parameters" element="ns:getPersonsIDResponse"/>
    </wsdl:message>
    <wsdl:message name="insertPersonRequest">
        <wsdl:part name="parameters" element="ns:insertPerson"/>
    </wsdl:message>
    <wsdl:message name="insertPersonResponse">
        <wsdl:part name="parameters" element="ns:insertPersonResponse"/>
    </wsdl:message>
    <wsdl:portType name="PersonDAOPortType">
        <wsdl:operation name="getAllPersons">
            <wsdl:input message="ns:getAllPersonsRequest" wsaw:Action="urn:getAllPersons"/>
            <wsdl:output message="ns:getAllPersonsResponse" wsaw:Action="urn:getAllPersonsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPersonsID">
            <wsdl:input message="ns:getPersonsIDRequest" wsaw:Action="urn:getPersonsID"/>
            <wsdl:output message="ns:getPersonsIDResponse" wsaw:Action="urn:getPersonsIDResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertPerson">
            <wsdl:input message="ns:insertPersonRequest" wsaw:Action="urn:insertPerson"/>
            <wsdl:output message="ns:insertPersonResponse" wsaw:Action="urn:insertPersonResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonDAOSoap11Binding" type="ns:PersonDAOPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllPersons">
            <soap:operation soapAction="urn:getAllPersons" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsID">
            <soap:operation soapAction="urn:getPersonsID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertPerson">
            <soap:operation soapAction="urn:insertPerson" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PersonDAOSoap12Binding" type="ns:PersonDAOPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllPersons">
            <soap12:operation soapAction="urn:getAllPersons" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsID">
            <soap12:operation soapAction="urn:getPersonsID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertPerson">
            <soap12:operation soapAction="urn:insertPerson" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PersonDAOHttpBinding" type="ns:PersonDAOPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllPersons">
            <http:operation location="getAllPersons"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPersonsID">
            <http:operation location="getPersonsID"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertPerson">
            <http:operation location="insertPerson"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonDAO">
        <wsdl:port name="PersonDAOHttpSoap11Endpoint" binding="ns:PersonDAOSoap11Binding">
            <soap:address location="http://localhost:8080/WSExample/services/PersonDAO.PersonDAOHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PersonDAOHttpSoap12Endpoint" binding="ns:PersonDAOSoap12Binding">
            <soap12:address location="http://localhost:8080/WSExample/services/PersonDAO.PersonDAOHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PersonDAOHttpEndpoint" binding="ns:PersonDAOHttpBinding">
            <http:address location="http://localhost:8080/WSExample/services/PersonDAO.PersonDAOHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
